.navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100%;
    width: 20%;
    background-color: #74B177;
}

.mobileNav, .mobileMenu {
    display: none;
}

.logoSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    margin-top: 2rem;
    cursor: pointer;
}

.logoSection img {
    height: 60%;
    width: auto;
}

.logoSection h4 {
    margin: 0.5rem 0 0 0;
    font-size: 0.8rem;
}

.line {
    height: 1px;
    width: 50%;
    background-color: #ffffff;
    opacity: 20%;
    margin: 2rem 25% 2rem 0;
}

.menu, .mobileMenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    height: 60%;
    width: 100%;
}

.menuOption {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 12%;
    margin: 0.8rem 0;
    border-radius: 2rem 0 0 2rem;
    cursor: pointer;
}

.menuOption p {
    margin: 0;
}

@media only screen and (max-width: 425px) {
    .navbar {
        height: 100px;
        width: 100%;
    }

    .menu, .mobileMenu {
        height: 100%;
    }

    .menu {
        display: none;
    }

    .mobileMenu {
        position: absolute;
        top: 100px;
        left: 0;
        background-color: #74B177;
        z-index: 5;
    }

    .mobileNav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        width: 100%;
        z-index: 10;
    }

    .mobileLogo {
        height: 60px;
        width: auto;
        margin-left: 2rem;
    }

    .burgerBtn {
        padding: 10px;
        border: 2px #fff solid;
        border-radius: 10px;
        margin-right: 2rem;
        z-index: 10;
    }

    .logoSection {
        display: none;
    }

    .menuOption {
        height: 50px;
        z-index: 5;
    }
}